<%- include('partials/header'); -%>
<div class="container ">


<div class="row">
  <div class="form-outline mb-4 ">
    <input type="search" class="form-control border-success rounded-pill mt-5 shadow1" id="searchInput" placeholder="Search by name or location">
  </div>
</div>

  
  

<div class="row row-cols-1 row-cols-md-4 g-4 my-4 cardContainer" id="cardContainer">
    <div class="col mb-5">
      <div class="card h-100 shadow3">
        <img src="<%= img1 %>" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="https://aadarana.business.site/" class="nav-link"><h5 class="fs-3 card-title"><%= orp1 %></h5></a>
          <p class="card-text"><%= add1 %></p>
          <h5><%= state1 %></h5>
           <a href="https://aadarana.business.site/"> <button type="button" class="btn btn-warning btn-lg shadow2 me-3"><%= more %></button></a>
            <a href="https://www.bing.com/maps?q=Aadarana&FORM=HDRSC6&cp=17.351706%7E78.535569&lvl=17.2"><button type="button" class="btn btn-success shadow1"><i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>



    <div class="col mb-5">
      <div class="card h-100 shadow3" >
        <img src="<%= img2 %>" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="https://projectheena.com/awwaindia" class="nav-link"><h5 class="fs-3 card-title"><%= orp2 %></h5></a>
          <p class="card-text"><%= add2 %></p>
          <h5><%= state2 %></h5>
            <a href="https://projectheena.com/awwaindia"><button type="button" class="btn btn-warning btn-lg shadow2">Read More</a>
        </div>
      </div>
    </div>
    <div class="col mb-5">
      <div class="card h-100 shadow3">
        <img src="<%= img3 %>" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="https://anandamarga.net/" class="nav-link"><h3 class="fs-5 card-title" style="font-weight: 900;"><%= orp3 %></h3></a>
          <p class="card-text"><%= add3 %></p>
          <h5><%= state3 %></h5>    
            <a href="https://anandamarga.net/"><button type="submit" class="btn btn-warning btn-lg shadow2 me-3">Read More</button></a>
            <a href="https://www.google.co.in/maps/search/17-1-390%2FC,+Laxmi+Nagar,+Saidabad+Colony,+Hyderabad+Hyderabad+%E2%80%93+500+059+India/@17.4019764,78.5396877,17z/data=!3m1!4b1"><button type="button" class="btn btn-success shadow1"><i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>
    


    <div class="col mb-5">
      <div class="card h-100 shadow3" data-id="4">
        <img src="<%= img4 %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: 900;"><%= orp4 %></h5>
          <p class="card-text"><%= add4 %></p>
          <h5><%= state4 %></h5>
            <a href="https://www.soschildrensvillages.in/"><button type="submit" class="btn btn-warning btn-lg shadow2 me-3">Read More</button></a>
            <a href="https://goo.gl/maps/xSkZPPUmB9wwMjdf6?coh=178571&entry=tt"><button type="button" class="btn btn-success shadow1"><i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>



    <div class="col mb-5">
      <div class="card h-100 shadow3">
        <img src="<%= img5 %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-3" ><%= orp5 %></h5>
          <p class="card-text"><%= add5 %></p>
          <h5><%= state5 %></h5>
          <a href="https://www.sulekha.com/mother-india-orphanage-home-malkajgiri-hyderabad-contact-address"><button type="submit" class="btn btn-warning btn-lg shadow2 me-3">Read More</button></a>
            <a href="https://goo.gl/maps/FBksALM6uEGx2Xmk6?coh=178571&entry=tt"><button type="button" class="btn btn-success shadow1"><i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>


    <div class="col mb-5">
      <div class="card h-100 shadow3">
        <img src="<%= img6 %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-5" style="font-weight: 900;" ><%= orp6 %></h5>
          <p class="card-text"><%= add6 %></p>
          <h5><%= state6 %></h5>
          <a href="https://aruna-oldage-and-orphans-childrens-ashramam.business.site/"><button type="submit" class="btn btn-warning btn-lg shadow2 me-3">Read More</button></a>
            <a href="https://www.bing.com/maps?osid=684af53e-b908-42ad-a402-d41058fc5e7a&cp=16.501457~80.629749&lvl=14&imgid=f1203513-38bb-45d9-97b7-b2419120fbe2&v=2&sV=2&form=S00027"><button type="button" class="btn btn-success shadow1"><i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>



    <div class="col mb-5">
      <div class="card h-100 shadow3">
        <img src="<%= img7 %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-5" style="font-weight: 900;"><%= orp7 %></h5>
          <p class="card-text"><%= add7 %></p>
          <h5><%= state7 %></h5>
          <a href="https://www.soschildrensvillages.in/"><button type="submit" class="btn btn-warning btn-lg shadow2 me-3">Read More</button></a>
            <a href="https://goo.gl/maps/xSkZPPUmB9wwMjdf6?coh=178571&entry=tt"><button type="button" class="btn btn-success shadow1"><i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>



    <div class="col mb-5">
      <div class="card h-100 shadow3">
        <img src="<%= img8 %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-3"><%= orp8 %></h5>
          <p class="card-text"><%= add8 %></p>
          <h5><%= state8 %></h5>
          <a href="http://www.dazzlingstonechildren.org/"><button type="submit" class="btn btn-warning btn-lg shadow2 me-3">Read More</button></a>
          <a href="https://www.bing.com/maps?osid=c567ea7f-77ec-4035-bf65-61ed9de0bcbd&cp=13.671207~71.132996&lvl=6&imgid=5cdb18db-29a7-4a9b-b1dc-04209683c73d&v=2&sV=2&form=S00027"><button type="button" class="btn btn-success shadow1"><i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>



    <div class="col mb-5">
      <div class="card h-100 shadow3">
        <img src="<%= img9 %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-5" style="font-weight: 900;"><%= orp9 %></h5>
          <p class="card-text"><%= add9 %></p>
          <h5><%= state9 %></h5>
          <a href="https://www.bharatibiz.com/en/dm-jariwala-orphanage-trust-022-2447-2335"><button type="submit" class="btn btn-warning btn-lg shadow2 me-3">Read More</button></a>
          <a href="https://www.bing.com/maps?osid=33520636-3369-4e66-887d-87e05c3ce200&cp=20.342484~54.914398&lvl=5&v=2&sV=2&form=S00027"><button type="button" class="btn btn-success shadow1"><i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>



    <div class="col mb-5">
      <div class="card h-100 shadow3">
        <img src="<%= img10 %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-3"><%= orp10 %></h5>
          <p class="card-text"><%= add10 %></p>
          <h5><%= state10 %></h5>
          <a href="https://ashakiranfoundation.org/"><button type="submit" class="btn btn-warning btn-lg shadow2 me-3">Read More</button></a>
          <a href="https://www.bing.com/maps?osid=70b4cc4a-d248-4d44-a6d3-8859420c762e&cp=21.668529~67.895691&lvl=5&imgid=c5ae2e91-7342-4f04-8420-f589d0f813be&v=2&sV=2&form=S00027"><button type="button" class="btn btn-success shadow1"> <i<i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>



    <div class="col mb-5">
      <div class="card h-100 shadow3">
        <img src="<%= img11 %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-3"><%= orp11 %></h5>
          <p class="card-text"><%= add11 %></p>
          <h5><%= state11 %></h5>
          <a href="https://www.facebook.com/people/Cherish-Orphanage/100069573340306/"><button type="submit" class="btn btn-warning btn-lg shadow2 me-3">Read More</button></a>
          <a href="https://www.bing.com/maps?osid=70e79b90-f115-46a8-8014-972ed045c6a8&cp=18.69456~60.51046&lvl=5&imgid=d4572bed-b8ba-4bd1-8868-efb78dc56fcc&v=2&sV=2&form=S00027"><button type="button" class="btn btn-success shadow1"><i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>



    <div class="col mb-5">
      <div class="card h-100 shadow3">
        <img src="<%= img12 %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-5" style="font-weight: 900;"><%= orp12 %></h5>
          <p class="card-text"><%= add12 %></p>
          <h5><%= state12 %></h5>
          <a href="https://www.facebook.com/childrenHomeNaidupet/"><button type="submit" class="btn btn-warning btn-lg shadow2 me-3">Read More</button></a>
          <a href="https://www.bing.com/maps?osid=d4119b01-8007-4ddc-8af6-ddfaa3c89561&cp=14.743842~75.47757&lvl=7&imgid=a8a5f6e7-ccb2-4406-94ca-8baf6feaaeff&v=2&sV=2&form=S00027"><button type="button" class="btn btn-success shadow1"><i class="bi bi-geo-alt"></i>   Location</button></a>
        </div>
      </div>
    </div>
  </div>





  




</div>

<script>
  const searchInput = document.getElementById('searchInput');
  const cardContainer = document.getElementById('cardContainer');

  searchInput.addEventListener('input', function(event) {
      const searchQuery = event.target.value.toLowerCase();
      const cards = cardContainer.getElementsByClassName('col');

      Array.from(cards).forEach(function(card) {
          const cardTitle = card.querySelector('.card-title');
          const cardLocation = card.querySelector('.card-text');

          const titleMatch = cardTitle.innerText.toLowerCase().includes(searchQuery);
          const locationMatch = cardLocation.innerText.toLowerCase().includes(searchQuery);

          if (titleMatch || locationMatch) {
              card.style.display = '';
          } else {
              card.style.display = 'none';
          }
      });
  });
</script>
<%- include('partials/footer'); -%>  